<div class="col-xs-6">
  <h2>Minions</h2>
  <div class="node-cards">
    <div class="card node-card" ng-repeat="node in nodes">
      <div class="node-name">{{ node.name }}</div>
      <div class="node-ip">{{ node.ip }}</div>
      <ul class="node-instances">
        <li ng-repeat="instance in node.instancesWithTail" class="node-instance">
          <select ng-class="{grayed: instance.template == null}" ng-model="instance.template"
            ng-options="t.title for t in templates">
            <option value="">-- Select a template --</option>
          </select>
        </li>
      </ul>
    </div>
    <div class="card node-card no-minions" ng-if="nodes.length == 0">
      There are no minions yet.
    </div>
  </div>
</div>
