*.out
.*tmp/*
tmp/
*.pyc
*.aux
*.blg
*.fls
*.log
.idea/*
doc/build/*
*__pycache__/*
_trial_temp/*

#Eclipse files

bindings/tests/_trial_temp/*
bindings/cpp/marcobinding/build/*
bindings/cpp/marcopolo/build/*
bindings/java/marcobinding/*.pydevproject
bindings/java/marcobinding/.metadata
bindings/java/marcobinding/.gradle
bindings/java/marcobinding/bin/
bindings/java/marcobinding/tmp/
bindings/java/marcobinding/*.tmp
bindings/java/marcobinding/*.bak
bindings/java/marcobinding/*.swp
bindings/java/marcobinding/*~.nib
bindings/java/marcobinding/local.properties
bindings/java/marcobinding/.settings/
bindings/java/marcobinding/.loadpath

# Eclipse Core
bindings/java/marcobinding/.project

# External tool builders
bindings/java/marcobinding/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
bindings/java/marcobinding/*.launch

# CDT-specific
bindings/java/marcobinding/.cproject

# JDT-specific (Eclipse Java Development Tools)
bindings/java/marcobinding/.classpath

# Java annotation processor (APT)
bindings/java/marcobinding/.factorypath

# PDT-specific
bindings/java/marcobinding/.buildpath

# sbteclipse plugin
bindings/java/marcobinding/.target

# TeXlipse plugin
bindings/java/marcobinding/.texlipse
bindings/java/marcobinding/RemoteSystemsTempFiles

#Python packates

bindings/python/marcopolobindings.egg-info
bindings/python/dist
bindings/python/build
build
marcopolo.egg*
marcoshell/dist
marcoshell/marcoutils.egg-info
marcopolo/dist
