[Unit]
Description=A simple service discovery protocol resolver

[Service]
ExecStart=/usr/bin/marco &> /dev/null
Type=simple
User=root
Group=root
PIDFile=/var/run/marcopolo/marcod.pid

[Install]
WantedBy=multi-user.target
