[Unit]
Description=A simple service discovery protocol advertiser
Requires=network.target network-online.target
After=network.target network-online.target 
After=sys-subsystem-net-devices-net0.device

[Service]

ExecStart=/usr/bin/python3 /opt/marcopolo/polo/polod.py &> /dev/null
ExecStop=/usr/bin/python3 /opt/marcopolo/daemon/polostop.py &> /dev/null
ExecReload=/usr/bin/python3 /opt/marcopolo/daemon/poloreload.py &> /dev/null

Type=simple
User=root
Group=root
PIDFile=/var/run/marcopolo/polod.pid

[Install]
WantedBy=multi-user.target
